* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: arial, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 5vh;
  height: 150px;
  width: 100%;
}

@media (max-width: 1360px) {
  header {
    height: 130px;
  }
}

@media (max-width: 1170px) {
  header {
    height: 100px;
  }
}

@media (max-width: 900px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 0;
    padding: 0;
  }
}

header .logoHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  height: 80%;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1020px) {
  header .logoHeader {
    display: none;
  }
}

header .logoHeader img {
  height: 100%;
}

header .logoHeader h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 10px;
  font-size: 32px;
}

@media (max-width: 1360px) {
  header .logoHeader h1 {
    font-size: 28px;
  }
}

@media (max-width: 1170px) {
  header .logoHeader h1 {
    font-size: 20px;
  }
}

header .logoHeader h1:after {
  content: "Restauracja";
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 1360px) {
  header .logoHeader h1:after {
    font-size: 18px;
  }
}

@media (max-width: 1170px) {
  header .logoHeader h1:after {
    font-size: 14px;
  }
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  header nav {
    -webkit-clip-path: circle(0px at top right);
            clip-path: circle(0px at top right);
    width: 100%;
    -webkit-transition: -webkit-clip-path ease-in-out 600ms;
    transition: -webkit-clip-path ease-in-out 600ms;
    transition: clip-path ease-in-out 600ms;
    transition: clip-path ease-in-out 600ms, -webkit-clip-path ease-in-out 600ms;
    position: fixed;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    z-index: 2;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media (max-width: 900px) {
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    border: 2px solid black;
    padding-right: 40px;
  }
}

@media (max-width: 500px) {
  header nav ul {
    padding-right: 60px;
  }
}

header nav ul li {
  padding: 15px 20px;
  border-right: 2px solid #eeae33;
}

@media (max-width: 900px) {
  header nav ul li {
    text-align: center;
    border: none;
    border-bottom: 2px solid #eeae33;
    margin: 0 auto;
    width: 90%;
  }
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 25px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

header nav ul li a:hover {
  color: #eeae33;
}

@media (max-width: 1360px) {
  header nav ul li a {
    font-size: 22px;
  }
}

@media (max-width: 1230px) {
  header nav ul li a {
    font-size: 20px;
  }
}

@media (max-width: 1170px) {
  header nav ul li a {
    font-size: 14px;
  }
}

@media (max-width: 1020px) {
  header nav ul li a {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  header nav ul li a {
    color: black;
    text-transform: uppercase;
  }
}

@media (max-width: 400px) {
  header nav ul li a {
    font-size: 16px;
  }
}

header nav ul li:nth-of-type(6) {
  border-right: none;
}

@media (max-width: 900px) {
  header nav ul li:nth-of-type(6) {
    border-bottom: none;
  }
}

header nav.open {
  -webkit-clip-path: circle(150% at top right);
          clip-path: circle(150% at top right);
}

header .hamburgerWrapper {
  min-height: 65px;
  width: 65px;
  display: none;
  cursor: pointer;
  margin: 5px 5px 0 0;
  border-radius: 50%;
  -webkit-transition: background-color ease-in-out 600ms;
  transition: background-color ease-in-out 600ms;
}

@media (max-width: 900px) {
  header .hamburgerWrapper {
    background-color: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 3;
  }
}

header .hamburgerWrapper .hamburgerMenu {
  width: 50px;
  height: 35px;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (max-width: 900px) {
  header .hamburgerWrapper .hamburgerMenu {
    background-color: transparent;
    display: block;
  }
}

header .hamburgerWrapper .hamburgerMenu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: white;
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

header .hamburgerWrapper .hamburgerMenu span:nth-child(even) {
  left: 50%;
}

header .hamburgerWrapper .hamburgerMenu span:nth-child(odd) {
  left: 0px;
}

header .hamburgerWrapper .hamburgerMenu span:nth-child(1), header .hamburgerWrapper .hamburgerMenu span:nth-child(2) {
  top: 1px;
}

header .hamburgerWrapper .hamburgerMenu span:nth-child(3), header .hamburgerWrapper .hamburgerMenu span:nth-child(4) {
  top: 16px;
}

header .hamburgerWrapper .hamburgerMenu span:nth-child(5), header .hamburgerWrapper .hamburgerMenu span:nth-child(6) {
  top: 31px;
}

header .hamburgerWrapper .hamburgerMenu .openHamburger {
  background-color: #eeae33;
}

header .hamburgerWrapper .hamburgerMenu .openHamburger:nth-child(1), header .hamburgerWrapper .hamburgerMenu .openHamburger:nth-child(6) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .hamburgerWrapper .hamburgerMenu .openHamburger:nth-child(2), header .hamburgerWrapper .hamburgerMenu .openHamburger:nth-child(5) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .hamburgerWrapper .hamburgerMenu .openHamburger:nth-child(1) {
  left: 5px;
  top: 9px;
}

header .hamburgerWrapper .hamburgerMenu .openHamburger:nth-child(2) {
  left: calc(50% - 5px);
  top: 9px;
}

header .hamburgerWrapper .hamburgerMenu .openHamburger:nth-child(3) {
  left: -50%;
  opacity: 0;
}

header .hamburgerWrapper .hamburgerMenu .openHamburger:nth-child(4) {
  left: 100%;
  opacity: 0;
}

header .hamburgerWrapper .hamburgerMenu .openHamburger:nth-child(5) {
  left: 5px;
  top: 24px;
}

header .hamburgerWrapper .hamburgerMenu .openHamburger:nth-child(6) {
  left: calc(50% - 5px);
  top: 24px;
}

header .hamburgerWrapperOpen {
  background-color: transparent;
}

.first-image {
  -ms-flex-preferred-size: 100vh;
      flex-basis: 100vh;
  background: url("../Rysunki/about/aboutFirstImage1920.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 970px) {
  .first-image {
    background-position: 20% center;
  }
}

@media (max-width: 650px) {
  .first-image {
    background-position: 30% center;
  }
}

.first-image div {
  position: absolute;
  top: 30%;
  left: 45%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #fff;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 1520px) {
  .first-image div {
    top: 40%;
    left: 35%;
  }
}

@media (max-width: 1200px) {
  .first-image div {
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
  }
}

@media (max-width: 970px) {
  .first-image div {
    width: 100%;
  }
}

.first-image div h1 {
  font-size: 85px;
  color: #eeae33;
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 1660px) {
  .first-image div h1 {
    font-size: 75px;
  }
}

@media (max-width: 1280px) {
  .first-image div h1 {
    font-size: 70px;
  }
}

@media (max-width: 780px) {
  .first-image div h1 {
    font-size: 65px;
  }
}

@media (max-width: 480px) {
  .first-image div h1 {
    font-size: 60px;
  }
}

.first-image div p {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 1660px) {
  .first-image div p {
    font-size: 36px;
  }
}

@media (max-width: 1280px) {
  .first-image div p {
    font-size: 34px;
  }
}

@media (max-width: 780px) {
  .first-image div p {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .first-image div p {
    font-size: 26px;
  }
}

@media (max-width: 400px) {
  .first-image div p {
    font-size: 20px;
  }
}

.top-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3 1fr);
      grid-template-areas: "firstGrid secondGrid" "fourthGrid thirdGrid" "fifthGrid sixthGrid";
  margin: 50px 3vh 0 3vh;
  min-height: 50vh;
}

@media (max-width: 750px) {
  .top-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6 1fr);
        grid-template-areas: "one" "two" "three" "four" "five" "six";
  }
  .top-section .first-grid {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: one;
  }
  .top-section .second-grid {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: two;
  }
  .top-section .third-grid {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: three;
  }
  .top-section .fourth-grid {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: four;
  }
  .top-section .fifth-grid {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: five;
  }
  .top-section .sixth-grid {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: six;
  }
}

@media (max-width: 640px) {
  .top-section {
    margin: 30px 0 0 0;
  }
}

.first-grid {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: firstGrid;
}

.second-grid {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: secondGrid;
  background: url("../Rysunki/head/HeadTop3.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 0 80px;
}

@media (max-width: 1170px) {
  .second-grid {
    border-radius: 0 0 0 40px;
  }
}

@media (max-width: 750px) {
  .second-grid {
    border-radius: 0;
  }
}

.third-grid {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: thirdGrid;
}

.fourth-grid {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fourthGrid;
  background: url("../Rysunki/about/aboutTopSection640.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  border-radius: 0 80px 80px 0;
}

@media (max-width: 1170px) {
  .fourth-grid {
    border-radius: 0 40px 40px 0;
  }
}

@media (max-width: 750px) {
  .fourth-grid {
    border-radius: 0;
  }
}

.fifth-grid {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: fifthGrid;
}

.sixth-grid {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: sixthGrid;
  background: url("../Rysunki/about/aboutTopSection3-640.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  border-radius: 80px 0 0 0;
}

@media (max-width: 1170px) {
  .sixth-grid {
    border-radius: 40px 0 0 0;
  }
}

@media (max-width: 750px) {
  .sixth-grid {
    border-radius: 0;
  }
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px;
  margin-bottom: 50px;
  min-height: 30vh;
}

@media (max-width: 640px) {
  .about-content {
    margin-bottom: 30px;
  }
}

.about-content h1 {
  color: #eeae33;
  font-size: 40px;
  margin-bottom: 15px;
  letter-spacing: 2px;
  font-family: roboto, sans-serif;
}

@media (max-width: 1360px) {
  .about-content h1 {
    font-size: 35px;
  }
}

@media (max-width: 1170px) {
  .about-content h1 {
    font-size: 30px;
    margin-bottom: 12px;
  }
}

@media (max-width: 880px) {
  .about-content h1 {
    font-size: 26px;
  }
}

@media (max-width: 750px) {
  .about-content h1 {
    font-size: 35px;
  }
}

@media (max-width: 640px) {
  .about-content h1 {
    font-size: 30px;
    margin-bottom: 12px;
  }
}

@media (max-width: 460px) {
  .about-content h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }
}

@media (max-width: 360px) {
  .about-content h1 {
    font-size: 20px;
  }
}

.about-content h2 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 15px;
}

@media (max-width: 1360px) {
  .about-content h2 {
    font-size: 26px;
  }
}

@media (max-width: 1170px) {
  .about-content h2 {
    font-size: 24px;
    margin-bottom: 12px;
  }
}

@media (max-width: 880px) {
  .about-content h2 {
    font-size: 20px;
  }
}

@media (max-width: 750px) {
  .about-content h2 {
    font-size: 26px;
    margin-bottom: 15px;
  }
}

@media (max-width: 640px) {
  .about-content h2 {
    font-size: 24px;
    margin-bottom: 12px;
  }
}

@media (max-width: 460px) {
  .about-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 360px) {
  .about-content h2 {
    font-size: 16px;
  }
}

.about-content p {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

@media (max-width: 1360px) {
  .about-content p {
    font-size: 16px;
  }
}

@media (max-width: 1170px) {
  .about-content p {
    font-size: 14px;
    margin-bottom: 12px;
  }
}

@media (max-width: 750px) {
  .about-content p {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

@media (max-width: 640px) {
  .about-content p {
    font-size: 14px;
    margin-bottom: 12px;
  }
}

@media (max-width: 460px) {
  .about-content p {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.about-content a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  color: #fff;
  text-decoration: none;
  padding: 15px 60px;
  background-color: #eeae33;
  font-size: 30px;
  border-radius: 5px;
  margin-top: 40px;
}

.about-content a:hover {
  background-color: #855c0b;
  color: #ddd;
}

@media (max-width: 1360px) {
  .about-content a {
    font-size: 28px;
    padding: 14px 55px;
  }
}

@media (max-width: 1170px) {
  .about-content a {
    font-size: 26px;
    padding: 12px 50px;
  }
}

@media (max-width: 640px) {
  .about-content a {
    font-size: 22px;
    padding: 10px 40px;
  }
}

.about-image {
  margin-bottom: 50px;
  min-height: 400px;
}

@media (max-width: 640px) {
  .about-image {
    margin-bottom: 30px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 5vh 0 5vh;
  background-color: black;
  min-height: 50vh;
}

@media (max-width: 850px) {
  footer {
    padding: 20px 5px 0 10px;
  }
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #444;
}

@media (max-width: 1170px) {
  .footer-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 640px) {
  .footer-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer-wrapper div {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  color: #ddd;
  padding: 0 15px;
}

@media (max-width: 1170px) {
  .footer-wrapper div {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media (max-width: 920px) {
  .footer-wrapper div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 640px) {
  .footer-wrapper div {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin-bottom: 12px;
  }
}

@media (max-width: 380px) {
  .footer-wrapper div {
    padding: 0 10px;
    margin-bottom: 8px;
  }
}

.footer-wrapper div h1 {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 30px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, -webkit-transform 1s ease-in-out;
  transition: opacity 0.5s linear, -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out, opacity 0.5s linear;
  transition: transform 1s ease-in-out, opacity 0.5s linear, -webkit-transform 1s ease-in-out;
}

.footer-wrapper div h1.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

@media (max-width: 1360px) {
  .footer-wrapper div h1 {
    font-size: 18px;
  }
}

@media (max-width: 1170px) {
  .footer-wrapper div h1 {
    margin-bottom: 12px;
  }
}

@media (max-width: 760px) {
  .footer-wrapper div h1 {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .footer-wrapper div h1 {
    font-size: 18px;
  }
}

@media (max-width: 380px) {
  .footer-wrapper div h1 {
    font-size: 16px;
  }
}

.footer-wrapper ul {
  list-style: none;
}

.footer-wrapper ul li {
  margin: 20px 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, -webkit-transform 1s ease-in-out;
  transition: opacity 0.5s linear, -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out, opacity 0.5s linear;
  transition: transform 1s ease-in-out, opacity 0.5s linear, -webkit-transform 1s ease-in-out;
}

.footer-wrapper ul li.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

@media (max-width: 760px) {
  .footer-wrapper ul li {
    margin: 15px 0;
  }
}

.footer-wrapper ul a {
  text-decoration: none;
  color: #666;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.footer-wrapper ul a:hover {
  color: #ddd;
}

.footer-address {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 20fr;
      grid-template-columns: 2fr 20fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  font-size: 16px;
}

.footer-address p {
  margin: 12px 0;
  color: #666;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, -webkit-transform 1s ease-in-out;
  transition: opacity 0.5s linear, -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out, opacity 0.5s linear;
  transition: transform 1s ease-in-out, opacity 0.5s linear, -webkit-transform 1s ease-in-out;
}

.footer-address p.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

@media (max-width: 1480px) {
  .footer-address p {
    font-size: 14px;
  }
}

@media (max-width: 1360px) {
  .footer-address p {
    font-size: 12px;
  }
}

@media (max-width: 1170px) {
  .footer-address p {
    font-size: 16px;
  }
}

@media (max-width: 970px) {
  .footer-address p {
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  .footer-address p {
    font-size: 12px;
    margin: 5px 0;
  }
}

@media (max-width: 640px) {
  .footer-address p {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .footer-address p {
    font-size: 12px;
  }
}

.footer-links {
  font-size: 16px;
}

@media (max-width: 1480px) {
  .footer-links {
    font-size: 14px;
  }
}

@media (max-width: 1360px) {
  .footer-links {
    font-size: 12px;
  }
}

@media (max-width: 1170px) {
  .footer-links {
    font-size: 16px;
  }
}

@media (max-width: 970px) {
  .footer-links {
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  .footer-links {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .footer-links {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .footer-links {
    font-size: 12px;
  }
}

.footer-links li {
  padding: 0 0 10px 0;
  border-bottom: 2px dotted #333;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, -webkit-transform 1s ease-in-out;
  transition: opacity 0.5s linear, -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out, opacity 0.5s linear;
  transition: transform 1s ease-in-out, opacity 0.5s linear, -webkit-transform 1s ease-in-out;
}

.footer-links li.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.footer-links span {
  margin-right: 10px;
}

.footer-open-time span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 7px;
}

@media (max-width: 1480px) {
  .footer-open-time span {
    font-size: 18px;
  }
}

@media (max-width: 1360px) {
  .footer-open-time span {
    font-size: 16px;
  }
}

@media (max-width: 760px) {
  .footer-open-time span {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .footer-open-time span {
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  .footer-open-time span {
    font-size: 14px;
  }
}

.footer-open-time p {
  font-size: 18px;
  color: #666;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, -webkit-transform 1s ease-in-out;
  transition: opacity 0.5s linear, -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out, opacity 0.5s linear;
  transition: transform 1s ease-in-out, opacity 0.5s linear, -webkit-transform 1s ease-in-out;
}

.footer-open-time p.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

@media (max-width: 1480px) {
  .footer-open-time p {
    font-size: 16px;
  }
}

@media (max-width: 1360px) {
  .footer-open-time p {
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  .footer-open-time p {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .footer-open-time p {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .footer-open-time p {
    font-size: 12px;
  }
}

.footer-social-media span {
  margin-right: 20px;
  font-size: 30px;
}

@media (max-width: 1480px) {
  .footer-social-media span {
    font-size: 26px;
  }
}

@media (max-width: 1360px) {
  .footer-social-media span {
    font-size: 20px;
  }
}

@media (max-width: 760px) {
  .footer-social-media span {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .footer-social-media span {
    font-size: 20px;
  }
}

@media (max-width: 380px) {
  .footer-social-media span {
    font-size: 16px;
  }
}

.footer-copyrights {
  color: #888;
  position: relative;
  padding: 15px 0;
}

.footer-copyrights h1 {
  position: absolute;
  color: #666;
  font-size: 18px;
  top: 5%;
}

@media (max-width: 1480px) {
  .footer-copyrights h1 {
    font-size: 16px;
  }
}

@media (max-width: 1360px) {
  .footer-copyrights h1 {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .footer-copyrights h1 {
    font-size: 12px;
  }
}

.footer-copyrights span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 5%;
  right: 0%;
}

.footer-copyrights span a {
  text-decoration: none;
  color: #666;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.footer-copyrights span a:hover {
  color: #ddd;
}

.footer-copyrights p {
  margin-left: 10px;
  font-size: 18px;
}

@media (max-width: 1480px) {
  .footer-copyrights p {
    font-size: 16px;
  }
}

@media (max-width: 1360px) {
  .footer-copyrights p {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .footer-copyrights p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=about.css.map */