* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: arial, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 5vh;
  height: 150px;
  width: 100%;
}

@media (max-width: 1360px) {
  header {
    height: 130px;
  }
}

@media (max-width: 1170px) {
  header {
    height: 100px;
  }
}

@media (max-width: 880px) {
  header {
    height: 80px;
  }
}

@media (max-width: 750px) {
  header {
    padding: 0 0;
    height: 70px;
  }
}

@media (max-width: 670px) {
  header {
    padding: 0 0;
  }
}

@media (max-width: 640px) {
  header {
    display: none;
  }
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  height: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1020px) {
  header div {
    display: none;
  }
}

header div img {
  height: 100%;
}

header div h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 10px;
  font-size: 32px;
}

@media (max-width: 1360px) {
  header div h1 {
    font-size: 28px;
  }
}

@media (max-width: 1170px) {
  header div h1 {
    font-size: 20px;
  }
}

header div h1:after {
  content: "Restauracja";
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 1360px) {
  header div h1:after {
    font-size: 18px;
  }
}

@media (max-width: 1170px) {
  header div h1:after {
    font-size: 14px;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 15px 20px;
  font-size: 25px;
  border-right: 2px solid #eeae33;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

nav ul li a:hover {
  color: #eeae33;
}

@media (max-width: 1360px) {
  nav ul li a {
    font-size: 22px;
  }
}

@media (max-width: 1230px) {
  nav ul li a {
    font-size: 20px;
  }
}

@media (max-width: 1170px) {
  nav ul li a {
    font-size: 14px;
  }
}

@media (max-width: 1020px) {
  nav ul li a {
    font-size: 20px;
  }
}

@media (max-width: 880px) {
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  nav ul li a {
    font-size: 14px;
  }
}

nav ul li:nth-of-type(6) a {
  border-right: none;
}

.first-image {
  -ms-flex-preferred-size: 100vh;
      flex-basis: 100vh;
  background: url("../Rysunki/gallery/galleryFirstImage1920.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.first-image div {
  position: absolute;
  top: 30%;
  left: 5%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #fff;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 1200px) {
  .first-image div {
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
  }
}

@media (max-width: 970px) {
  .first-image div {
    width: 100%;
  }
}

.first-image div h1 {
  font-size: 85px;
  color: #eeae33;
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 1660px) {
  .first-image div h1 {
    font-size: 75px;
  }
}

@media (max-width: 1280px) {
  .first-image div h1 {
    font-size: 70px;
  }
}

@media (max-width: 780px) {
  .first-image div h1 {
    font-size: 65px;
  }
}

@media (max-width: 480px) {
  .first-image div h1 {
    font-size: 60px;
  }
}

@media (max-width: 440px) {
  .first-image div h1 {
    font-size: 50px;
  }
}

@media (max-width: 379px) {
  .first-image div h1 {
    font-size: 40px;
  }
}

.first-image div p {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 1660px) {
  .first-image div p {
    font-size: 36px;
  }
}

@media (max-width: 1280px) {
  .first-image div p {
    font-size: 34px;
  }
}

@media (max-width: 780px) {
  .first-image div p {
    font-size: 32px;
  }
}

@media (max-width: 540px) {
  .first-image div p {
    font-size: 26px;
  }
}

@media (max-width: 480px) {
  .first-image div p {
    font-size: 24px;
  }
}

@media (max-width: 440px) {
  .first-image div p {
    font-size: 20px;
  }
}

@media (max-width: 379px) {
  .first-image div p {
    font-size: 16px;
  }
}

.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 150vh;
  margin: 50px 3vh;
}

@media (max-width: 960px) {
  .top-section {
    margin: 50px 20px;
  }
}

@media (max-width: 780px) {
  .top-section {
    margin: 30px 20px;
  }
}

@media (max-width: 450px) {
  .top-section {
    margin: 0;
  }
}

.menu-top-section-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
  height: 100%;
  width: 90%;
}

@media (max-width: 880px) {
  .menu-top-section-wrapper {
    -ms-grid-rows: (1fr)[28];
        grid-template-rows: repeat(28, 1fr);
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    width: 95%;
  }
}

@media (max-width: 450px) {
  .menu-top-section-wrapper {
    -ms-grid-rows: (1fr)[22];
        grid-template-rows: repeat(22, 1fr);
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    width: 100%;
  }
}

.first-image-top {
  grid-area: span 2 / span 4;
  background-color: black;
  overflow: hidden;
}

@media (max-width: 880px) {
  .first-image-top {
    grid-area: span 4 / span 3;
  }
}

@media (max-width: 450px) {
  .first-image-top {
    grid-area: span 2 / span 1;
    min-height: 400px;
  }
}

.first-image-top div {
  background: url("../Rysunki/gallery/1gallery1280.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.first-image-top div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.5;
}

.second-image-top {
  grid-area: span 3 / span 4;
  background-color: black;
  overflow: hidden;
}

@media (max-width: 880px) {
  .second-image-top {
    grid-area: span 6 / span 2;
  }
}

@media (max-width: 450px) {
  .second-image-top {
    grid-area: span 2 / span 1;
  }
}

.second-image-top div {
  background: url("../Rysunki/gallery/2gallery1280.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.second-image-top div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.5;
}

.third-image-top {
  grid-area: span 4 / span 2;
  background-color: black;
  overflow: hidden;
}

@media (max-width: 880px) {
  .third-image-top {
    grid-area: span 6 / span 3;
  }
}

@media (max-width: 450px) {
  .third-image-top {
    grid-area: span 2 / span 1;
  }
}

.third-image-top div {
  background: url("../Rysunki/gallery/3gallery1280.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.third-image-top div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.5;
}

.fourth-image-top {
  grid-area: span 1 / span 2;
  background-color: black;
  overflow: hidden;
}

@media (max-width: 880px) {
  .fourth-image-top {
    grid-area: span 4 / span 2;
  }
}

@media (max-width: 450px) {
  .fourth-image-top {
    grid-area: span 2 / span 1;
  }
}

.fourth-image-top div {
  background: url("../Rysunki/gallery/4gallery1280.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.fourth-image-top div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.5;
}

.fifth-image-top {
  grid-area: span 3 / span 2;
  background-color: black;
  overflow: hidden;
}

@media (max-width: 880px) {
  .fifth-image-top {
    grid-area: span 6 / span 2;
  }
}

@media (max-width: 450px) {
  .fifth-image-top {
    grid-area: span 2 / span 1;
  }
}

.fifth-image-top div {
  background: url("../Rysunki/gallery/5gallery1280.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.fifth-image-top div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.5;
}

.sixth-image-top {
  grid-area: span 1 / span 2;
  background-color: black;
  overflow: hidden;
}

@media (max-width: 880px) {
  .sixth-image-top {
    grid-area: span 4 / span 3;
  }
}

@media (max-width: 450px) {
  .sixth-image-top {
    grid-area: span 2 / span 1;
  }
}

.sixth-image-top div {
  background: url("../Rysunki/gallery/6gallery1280.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.sixth-image-top div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.5;
}

.seventh-image-top {
  grid-area: span 2 / span 2;
  background-color: black;
  overflow: hidden;
}

@media (max-width: 880px) {
  .seventh-image-top {
    grid-area: span 6 / span 3;
  }
}

@media (max-width: 450px) {
  .seventh-image-top {
    grid-area: span 2 / span 1;
  }
}

.seventh-image-top div {
  background: url("../Rysunki/gallery/7gallery1280.jpg");
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.seventh-image-top div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.5;
}

.eight-image-top {
  grid-area: span 2 / span 2;
  background-color: black;
  overflow: hidden;
}

@media (max-width: 880px) {
  .eight-image-top {
    grid-area: span 4 / span 2;
  }
}

@media (max-width: 450px) {
  .eight-image-top {
    grid-area: span 2 / span 1;
  }
}

.eight-image-top div {
  background: url("../Rysunki/gallery/8gallery1280.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.eight-image-top div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.5;
}

.nineth-image-top {
  grid-area: span 3 / span 2;
  background-color: black;
  overflow: hidden;
}

@media (max-width: 880px) {
  .nineth-image-top {
    grid-area: span 4 / span 2;
  }
}

@media (max-width: 450px) {
  .nineth-image-top {
    grid-area: span 2 / span 1;
  }
}

.nineth-image-top div {
  background: url("../Rysunki/gallery/9gallery1280.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.nineth-image-top div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.5;
}

.tenth-image-top {
  grid-area: span 2 / span 2;
  background-color: black;
  overflow: hidden;
}

@media (max-width: 880px) {
  .tenth-image-top {
    grid-area: span 4 / span 3;
  }
}

@media (max-width: 450px) {
  .tenth-image-top {
    grid-area: span 2 / span 1;
  }
}

.tenth-image-top div {
  background: url("../Rysunki/gallery/10gallery1280.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.tenth-image-top div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.5;
}

.eleventh-image-top {
  grid-area: span 2 / span 4;
  background-color: black;
  overflow: hidden;
}

@media (max-width: 880px) {
  .eleventh-image-top {
    grid-area: span 4 / span 5;
  }
}

@media (max-width: 450px) {
  .eleventh-image-top {
    grid-area: span 2 / span 1;
  }
}

.eleventh-image-top div {
  background: url("../Rysunki/gallery/11gallery1280.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.eleventh-image-top div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.5;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 5vh 0 5vh;
  background-color: black;
  min-height: 50vh;
}

@media (max-width: 850px) {
  footer {
    padding: 20px 5px 0 10px;
  }
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #444;
}

@media (max-width: 1170px) {
  .footer-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 640px) {
  .footer-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer-wrapper div {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  color: #ddd;
  padding: 0 15px;
}

@media (max-width: 1170px) {
  .footer-wrapper div {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media (max-width: 920px) {
  .footer-wrapper div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 640px) {
  .footer-wrapper div {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin-bottom: 12px;
  }
}

@media (max-width: 380px) {
  .footer-wrapper div {
    padding: 0 10px;
    margin-bottom: 8px;
  }
}

.footer-wrapper div h1 {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 30px;
}

@media (max-width: 1360px) {
  .footer-wrapper div h1 {
    font-size: 18px;
  }
}

@media (max-width: 1170px) {
  .footer-wrapper div h1 {
    margin-bottom: 12px;
  }
}

@media (max-width: 760px) {
  .footer-wrapper div h1 {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .footer-wrapper div h1 {
    font-size: 18px;
  }
}

@media (max-width: 380px) {
  .footer-wrapper div h1 {
    font-size: 16px;
  }
}

.footer-wrapper ul {
  list-style: none;
}

.footer-wrapper ul li {
  margin: 20px 0;
}

@media (max-width: 760px) {
  .footer-wrapper ul li {
    margin: 15px 0;
  }
}

.footer-wrapper ul a {
  text-decoration: none;
  color: #666;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.footer-wrapper ul a:hover {
  color: #ddd;
}

.footer-address {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 20fr;
      grid-template-columns: 2fr 20fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  font-size: 16px;
}

.footer-address p {
  margin: 12px 0;
  color: #666;
}

@media (max-width: 1480px) {
  .footer-address p {
    font-size: 14px;
  }
}

@media (max-width: 1360px) {
  .footer-address p {
    font-size: 12px;
  }
}

@media (max-width: 1170px) {
  .footer-address p {
    font-size: 16px;
  }
}

@media (max-width: 970px) {
  .footer-address p {
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  .footer-address p {
    font-size: 12px;
    margin: 5px 0;
  }
}

@media (max-width: 640px) {
  .footer-address p {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .footer-address p {
    font-size: 12px;
  }
}

.footer-links {
  font-size: 16px;
}

@media (max-width: 1480px) {
  .footer-links {
    font-size: 14px;
  }
}

@media (max-width: 1360px) {
  .footer-links {
    font-size: 12px;
  }
}

@media (max-width: 1170px) {
  .footer-links {
    font-size: 16px;
  }
}

@media (max-width: 970px) {
  .footer-links {
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  .footer-links {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .footer-links {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .footer-links {
    font-size: 12px;
  }
}

.footer-links li {
  padding: 0 0 10px 0;
  border-bottom: 2px dotted #333;
}

.footer-links span {
  margin-right: 10px;
}

.footer-open-time span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 7px;
}

@media (max-width: 1480px) {
  .footer-open-time span {
    font-size: 18px;
  }
}

@media (max-width: 1360px) {
  .footer-open-time span {
    font-size: 16px;
  }
}

@media (max-width: 760px) {
  .footer-open-time span {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .footer-open-time span {
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  .footer-open-time span {
    font-size: 14px;
  }
}

.footer-open-time p {
  font-size: 18px;
  color: #666;
}

@media (max-width: 1480px) {
  .footer-open-time p {
    font-size: 16px;
  }
}

@media (max-width: 1360px) {
  .footer-open-time p {
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  .footer-open-time p {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .footer-open-time p {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .footer-open-time p {
    font-size: 12px;
  }
}

.footer-social-media span {
  margin-right: 20px;
  font-size: 30px;
}

@media (max-width: 1480px) {
  .footer-social-media span {
    font-size: 26px;
  }
}

@media (max-width: 1360px) {
  .footer-social-media span {
    font-size: 20px;
  }
}

@media (max-width: 760px) {
  .footer-social-media span {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .footer-social-media span {
    font-size: 20px;
  }
}

@media (max-width: 380px) {
  .footer-social-media span {
    font-size: 16px;
  }
}

.footer-copyrights {
  color: #888;
  position: relative;
  padding: 15px 0;
}

.footer-copyrights h1 {
  position: absolute;
  color: #666;
  font-size: 18px;
  top: 5%;
}

@media (max-width: 1480px) {
  .footer-copyrights h1 {
    font-size: 16px;
  }
}

@media (max-width: 1360px) {
  .footer-copyrights h1 {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .footer-copyrights h1 {
    font-size: 12px;
  }
}

.footer-copyrights span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 5%;
  right: 0%;
}

.footer-copyrights span a {
  text-decoration: none;
  color: #666;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.footer-copyrights span a:hover {
  color: #ddd;
}

.footer-copyrights p {
  margin-left: 10px;
  font-size: 18px;
}

@media (max-width: 1480px) {
  .footer-copyrights p {
    font-size: 16px;
  }
}

@media (max-width: 1360px) {
  .footer-copyrights p {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .footer-copyrights p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=gallery.css.map */