* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: arial, sans-serif;
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 5vh;
  height: 150px;
}

@media (max-width: 1360px) {
  header {
    height: 130px;
  }
}

@media (max-width: 1170px) {
  header {
    height: 100px;
  }
}

@media (max-width: 880px) {
  header {
    height: 80px;
  }
}

@media (max-width: 750px) {
  header {
    padding: 0 0;
    height: 70px;
  }
}

@media (max-width: 670px) {
  header {
    padding: 0 0;
  }
}

@media (max-width: 640px) {
  header {
    display: none;
  }
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  height: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1020px) {
  header div {
    display: none;
  }
}

header div img {
  height: 100%;
}

header div h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 10px;
  font-size: 32px;
}

@media (max-width: 1360px) {
  header div h1 {
    font-size: 28px;
  }
}

@media (max-width: 1170px) {
  header div h1 {
    font-size: 20px;
  }
}

header div h1:after {
  content: "Restauracja";
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 1360px) {
  header div h1:after {
    font-size: 18px;
  }
}

@media (max-width: 1170px) {
  header div h1:after {
    font-size: 14px;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 15px 20px;
  font-size: 25px;
  border-right: 2px solid #eeae33;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

nav ul li a:hover {
  color: #eeae33;
}

@media (max-width: 1360px) {
  nav ul li a {
    font-size: 22px;
  }
}

@media (max-width: 1230px) {
  nav ul li a {
    font-size: 20px;
  }
}

@media (max-width: 1170px) {
  nav ul li a {
    font-size: 14px;
  }
}

@media (max-width: 1020px) {
  nav ul li a {
    font-size: 20px;
  }
}

@media (max-width: 880px) {
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  nav ul li a {
    font-size: 14px;
  }
}

nav ul li:nth-of-type(6) a {
  border-right: none;
}

.first-image {
  -ms-flex-preferred-size: 100vh;
      flex-basis: 100vh;
  background: url("../Rysunki/menu/menuFirstImage1920.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.first-image div {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #fff;
  padding: 20px 30px;
}

.first-image div h1 {
  font-size: 85px;
  color: #eeae33;
  font-family: 'Indie Flower', cursive;
}

.first-image div p {
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
}

section.menu.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  padding: 50px 3vh;
}

.menu-list {
  -ms-flex-preferred-size: 10vh;
      flex-basis: 10vh;
  width: 60%;
}

.menu-list h1 {
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 4px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid #eeae33;
}

.menu-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.menu-list ul li button {
  border: none;
  background-color: white;
  color: #333;
  padding: 15px 20px;
  font-size: 25px;
}

.menu-list ul li button:before {
  content: '-';
}

.menu-list ul li button:after {
  content: '-';
}

.menu-top-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 60%;
  -ms-flex-preferred-size: 50vh;
      flex-basis: 50vh;
}

.menu-top-section-wrapper article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 20px;
}

.menu-top-section-wrapper h1 {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.menu-top-section-wrapper div {
  margin: 20px 0;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  max-height: 500px;
  width: 100%;
}

.menu-top-section-wrapper div h2 {
  color: #eeae33;
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: roboto, san-serif;
}

.menu-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 10px;
}

.menu-products p {
  font-size: 19px;
  letter-spacing: 1px;
  font-style: italic;
}

.menu-products span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 2px dotted black;
}

.menu-products h3 {
  font-size: 22px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 30vh;
      flex-basis: 30vh;
  background-color: cadetblue;
  min-height: 500px;
  padding: 0 50px;
  background-color: black;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #444;
}

.footer-wrapper div {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin-top: 70px;
  height: 70%;
  color: #ddd;
}

.footer-wrapper div h1 {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 30px;
}

.footer-wrapper ul {
  list-style: none;
}

.footer-wrapper ul li {
  opacity: 0.4;
  margin: 20px 0;
}

.footer-wrapper ul a {
  text-decoration: none;
  color: #ddd;
}

.footer-address span {
  margin-right: 25px;
}

.footer-links li {
  padding: 0 0 10px 0;
  border-bottom: 2px dotted #777;
}

.footer-links li span {
  margin-right: 10px;
}

.footer-open-time span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 7px;
}

.footer-social-media span {
  margin-right: 20px;
  font-size: 30px;
}

.footer-copyrights {
  color: #888;
  position: relative;
  padding: 10px 0;
}

.footer-copyrights h1 {
  position: absolute;
  color: #777;
  font-size: 18px;
  top: 50%;
}

.footer-copyrights span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  right: 0%;
}

.footer-copyrights p {
  margin-left: 10px;
}
/*# sourceMappingURL=menu.css.map */