* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: arial, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 5vh;
  height: 150px;
  width: 100%;
}

@media (max-width: 1360px) {
  header {
    height: 130px;
  }
}

@media (max-width: 1170px) {
  header {
    height: 100px;
  }
}

@media (max-width: 880px) {
  header {
    height: 80px;
  }
}

@media (max-width: 750px) {
  header {
    padding: 0 0;
    height: 70px;
  }
}

@media (max-width: 670px) {
  header {
    padding: 0 0;
  }
}

@media (max-width: 640px) {
  header {
    display: none;
  }
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  height: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1020px) {
  header div {
    display: none;
  }
}

header div img {
  height: 100%;
}

header div h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 10px;
  font-size: 32px;
}

@media (max-width: 1360px) {
  header div h1 {
    font-size: 28px;
  }
}

@media (max-width: 1170px) {
  header div h1 {
    font-size: 20px;
  }
}

header div h1:after {
  content: "Restauracja";
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 1360px) {
  header div h1:after {
    font-size: 18px;
  }
}

@media (max-width: 1170px) {
  header div h1:after {
    font-size: 14px;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 15px 20px;
  font-size: 25px;
  border-right: 2px solid #eeae33;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

nav ul li a:hover {
  color: #eeae33;
}

@media (max-width: 1360px) {
  nav ul li a {
    font-size: 22px;
  }
}

@media (max-width: 1230px) {
  nav ul li a {
    font-size: 20px;
  }
}

@media (max-width: 1170px) {
  nav ul li a {
    font-size: 14px;
  }
}

@media (max-width: 1020px) {
  nav ul li a {
    font-size: 20px;
  }
}

@media (max-width: 880px) {
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  nav ul li a {
    font-size: 14px;
  }
}

nav ul li:nth-of-type(6) a {
  border-right: none;
}

.first-image {
  -ms-flex-preferred-size: 100vh;
      flex-basis: 100vh;
  background: url("../Rysunki/reservation/reservationFirstImage1920.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 380px) {
  .first-image {
    background-position: 40% center;
  }
}

.first-image div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #fff;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 1520px) {
  .first-image div {
    left: 48%;
  }
}

@media (max-width: 1315px) {
  .first-image div {
    left: 45%;
  }
}

@media (max-width: 1200px) {
  .first-image div {
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
  }
}

@media (max-width: 970px) {
  .first-image div {
    width: 100%;
  }
}

.first-image div h1 {
  font-size: 85px;
  color: #eeae33;
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 1660px) {
  .first-image div h1 {
    font-size: 75px;
  }
}

@media (max-width: 1280px) {
  .first-image div h1 {
    font-size: 70px;
  }
}

@media (max-width: 780px) {
  .first-image div h1 {
    font-size: 65px;
  }
}

@media (max-width: 480px) {
  .first-image div h1 {
    font-size: 60px;
  }
}

@media (max-width: 440px) {
  .first-image div h1 {
    font-size: 50px;
  }
}

@media (max-width: 379px) {
  .first-image div h1 {
    font-size: 40px;
  }
}

.first-image div p {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 1660px) {
  .first-image div p {
    font-size: 36px;
  }
}

@media (max-width: 1440px) {
  .first-image div p {
    font-size: 34px;
  }
}

@media (max-width: 1250px) {
  .first-image div p {
    font-size: 32px;
  }
}

@media (max-width: 650px) {
  .first-image div p {
    font-size: 26px;
  }
}

@media (max-width: 535px) {
  .first-image div p {
    font-size: 24px;
  }
}

@media (max-width: 505px) {
  .first-image div p {
    font-size: 20px;
  }
}

@media (max-width: 430px) {
  .first-image div p {
    font-size: 16px;
  }
}

.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 50px 15vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 40vh;
}

@media (max-width: 1150px) {
  .top-section {
    margin: 50px 5vh;
  }
}

@media (max-width: 960px) {
  .top-section {
    margin: 50px 20px;
  }
}

@media (max-width: 780px) {
  .top-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 30px 20px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

@media (max-width: 780px) {
  .form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 30px;
  }
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.form form input {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 15px 10px;
}

@media (max-width: 1360px) {
  .form form input {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .form form input {
    font-size: 16px;
    padding: 12px 10px;
    margin-bottom: 14px;
  }
}

@media (max-width: 780px) {
  .form form input {
    font-size: 20px;
    padding: 15px 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .form form input {
    font-size: 16px;
    padding: 12px 10px;
    margin-bottom: 14px;
  }
}

@media (max-width: 380px) {
  .form form input {
    font-size: 14px;
    padding: 12px 7px;
  }
}

.form form #textarea {
  border: 1px solid #ddd;
  font-size: 20px;
  padding: 10px 10px;
  resize: vertical;
}

@media (max-width: 1360px) {
  .form form #textarea {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .form form #textarea {
    font-size: 16px;
  }
}

@media (max-width: 780px) {
  .form form #textarea {
    font-size: 20px;
  }
}

@media (max-width: 640px) {
  .form form #textarea {
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  .form form #textarea {
    font-size: 14px;
  }
}

.form button {
  border: none;
  color: #fff;
  padding: 15px 60px;
  background-color: #eeae33;
  font-size: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 1360px) {
  .form button {
    font-size: 26px;
    padding: 12px 50px;
  }
}

@media (max-width: 640px) {
  .form button {
    font-size: 22px;
    padding: 10px 40px;
  }
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

@media (max-width: 780px) {
  .content-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.content-wrapper h1 {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
  margin-bottom: 25px;
  border-bottom: 1px solid #eeae33;
  padding: 0 0 15px 0;
}

@media (max-width: 1680px) {
  .content-wrapper h1 {
    font-size: 34px;
  }
}

@media (max-width: 1510px) {
  .content-wrapper h1 {
    font-size: 30px;
  }
}

@media (max-width: 1400px) {
  .content-wrapper h1 {
    font-size: 28px;
    margin-bottom: 15px;
  }
}

@media (max-width: 1290px) {
  .content-wrapper h1 {
    font-size: 24px;
    padding: 0 0 10px 0;
  }
}

@media (max-width: 1180px) {
  .content-wrapper h1 {
    font-size: 22px;
  }
}

@media (max-width: 900px) {
  .content-wrapper h1 {
    font-size: 18px;
  }
}

@media (max-width: 780px) {
  .content-wrapper h1 {
    font-size: 28px;
  }
}

@media (max-width: 520px) {
  .content-wrapper h1 {
    font-size: 20px;
  }
}

@media (max-width: 420px) {
  .content-wrapper h1 {
    font-size: 16px;
    padding: 0 0 5px 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 350px) {
  .content-wrapper h1 {
    font-size: 14px;
  }
}

.content-wrapper h1 strong {
  font-weight: 600;
}

.content-wrapper h2 {
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #eeae33;
}

@media (max-width: 1680px) {
  .content-wrapper h2 {
    font-size: 34px;
  }
}

@media (max-width: 1510px) {
  .content-wrapper h2 {
    font-size: 30px;
  }
}

@media (max-width: 1400px) {
  .content-wrapper h2 {
    font-size: 28px;
  }
}

@media (max-width: 1290px) {
  .content-wrapper h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

@media (max-width: 1180px) {
  .content-wrapper h2 {
    font-size: 22px;
  }
}

@media (max-width: 900px) {
  .content-wrapper h2 {
    font-size: 18px;
  }
}

@media (max-width: 520px) {
  .content-wrapper h2 {
    font-size: 20px;
  }
}

@media (max-width: 420px) {
  .content-wrapper h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

@media (max-width: 350px) {
  .content-wrapper h2 {
    font-size: 14px;
  }
}

.content-wrapper p {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

@media (max-width: 1600px) {
  .content-wrapper p {
    font-size: 18px;
  }
}

@media (max-width: 1400px) {
  .content-wrapper p {
    font-size: 16px;
  }
}

@media (max-width: 1060px) {
  .content-wrapper p {
    font-size: 14px;
  }
}

@media (max-width: 780px) {
  .content-wrapper p {
    font-size: 16px;
  }
}

@media (max-width: 520px) {
  .content-wrapper p {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .content-wrapper p {
    font-size: 12px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 5vh 0 5vh;
  background-color: black;
  min-height: 50vh;
}

@media (max-width: 850px) {
  footer {
    padding: 20px 5px 0 10px;
  }
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #444;
}

@media (max-width: 1170px) {
  .footer-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 640px) {
  .footer-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer-wrapper div {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  color: #ddd;
  padding: 0 15px;
}

@media (max-width: 1170px) {
  .footer-wrapper div {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media (max-width: 920px) {
  .footer-wrapper div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 640px) {
  .footer-wrapper div {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin-bottom: 12px;
  }
}

@media (max-width: 380px) {
  .footer-wrapper div {
    padding: 0 10px;
    margin-bottom: 8px;
  }
}

.footer-wrapper div h1 {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 30px;
}

@media (max-width: 1360px) {
  .footer-wrapper div h1 {
    font-size: 18px;
  }
}

@media (max-width: 1170px) {
  .footer-wrapper div h1 {
    margin-bottom: 12px;
  }
}

@media (max-width: 760px) {
  .footer-wrapper div h1 {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .footer-wrapper div h1 {
    font-size: 18px;
  }
}

@media (max-width: 380px) {
  .footer-wrapper div h1 {
    font-size: 16px;
  }
}

.footer-wrapper ul {
  list-style: none;
}

.footer-wrapper ul li {
  margin: 20px 0;
}

@media (max-width: 760px) {
  .footer-wrapper ul li {
    margin: 15px 0;
  }
}

.footer-wrapper ul a {
  text-decoration: none;
  color: #666;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.footer-wrapper ul a:hover {
  color: #ddd;
}

.footer-address {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 20fr;
      grid-template-columns: 2fr 20fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  font-size: 16px;
}

.footer-address p {
  margin: 12px 0;
  color: #666;
}

@media (max-width: 1480px) {
  .footer-address p {
    font-size: 14px;
  }
}

@media (max-width: 1360px) {
  .footer-address p {
    font-size: 12px;
  }
}

@media (max-width: 1170px) {
  .footer-address p {
    font-size: 16px;
  }
}

@media (max-width: 970px) {
  .footer-address p {
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  .footer-address p {
    font-size: 12px;
    margin: 5px 0;
  }
}

@media (max-width: 640px) {
  .footer-address p {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .footer-address p {
    font-size: 12px;
  }
}

.footer-links {
  font-size: 16px;
}

@media (max-width: 1480px) {
  .footer-links {
    font-size: 14px;
  }
}

@media (max-width: 1360px) {
  .footer-links {
    font-size: 12px;
  }
}

@media (max-width: 1170px) {
  .footer-links {
    font-size: 16px;
  }
}

@media (max-width: 970px) {
  .footer-links {
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  .footer-links {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .footer-links {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .footer-links {
    font-size: 12px;
  }
}

.footer-links li {
  padding: 0 0 10px 0;
  border-bottom: 2px dotted #333;
}

.footer-links span {
  margin-right: 10px;
}

.footer-open-time span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 7px;
}

@media (max-width: 1480px) {
  .footer-open-time span {
    font-size: 18px;
  }
}

@media (max-width: 1360px) {
  .footer-open-time span {
    font-size: 16px;
  }
}

@media (max-width: 760px) {
  .footer-open-time span {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .footer-open-time span {
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  .footer-open-time span {
    font-size: 14px;
  }
}

.footer-open-time p {
  font-size: 18px;
  color: #666;
}

@media (max-width: 1480px) {
  .footer-open-time p {
    font-size: 16px;
  }
}

@media (max-width: 1360px) {
  .footer-open-time p {
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  .footer-open-time p {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .footer-open-time p {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .footer-open-time p {
    font-size: 12px;
  }
}

.footer-social-media span {
  margin-right: 20px;
  font-size: 30px;
}

@media (max-width: 1480px) {
  .footer-social-media span {
    font-size: 26px;
  }
}

@media (max-width: 1360px) {
  .footer-social-media span {
    font-size: 20px;
  }
}

@media (max-width: 760px) {
  .footer-social-media span {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .footer-social-media span {
    font-size: 20px;
  }
}

@media (max-width: 380px) {
  .footer-social-media span {
    font-size: 16px;
  }
}

.footer-copyrights {
  color: #888;
  position: relative;
  padding: 15px 0;
}

.footer-copyrights h1 {
  position: absolute;
  color: #666;
  font-size: 18px;
  top: 5%;
}

@media (max-width: 1480px) {
  .footer-copyrights h1 {
    font-size: 16px;
  }
}

@media (max-width: 1360px) {
  .footer-copyrights h1 {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .footer-copyrights h1 {
    font-size: 12px;
  }
}

.footer-copyrights span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 5%;
  right: 0%;
}

.footer-copyrights span a {
  text-decoration: none;
  color: #666;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.footer-copyrights span a:hover {
  color: #ddd;
}

.footer-copyrights p {
  margin-left: 10px;
  font-size: 18px;
}

@media (max-width: 1480px) {
  .footer-copyrights p {
    font-size: 16px;
  }
}

@media (max-width: 1360px) {
  .footer-copyrights p {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .footer-copyrights p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=reservation.css.map */