.top-section 
  display: grid
  grid-template-columns: repeat(2 1fr)
  grid-template-rows: repeat(3 1fr)
  grid-template-areas: "firstGrid secondGrid" "fourthGrid thirdGrid" "fifthGrid sixthGrid"
  padding: 50px 3vh 0 3vh
  min-height: 50vh
  @media (max-width: 750px)
    grid-template-columns: 1fr
    grid-template-rows: repeat(6 1fr)
    grid-template-areas: "one" "two" "three" "four" "five" "six"
    .first-grid
      grid-area: one
    .second-grid
      grid-area: two
    .third-grid
      grid-area: three
    .fourth-grid
      grid-area: four
    .fifth-grid
      grid-area: five
    .sixth-grid
      grid-area: six
  @media (max-width: 640px)
    padding: 30px 0 0 0 
.first-grid
  grid-area: firstGrid
.second-grid
  grid-area: secondGrid
  background: url('../Rysunki/head/HeadTop3.jpeg')
  background-attachment: fixed
  background-size: cover
  background-position: center
  border-radius: 0 0 0 80px
  @media (max-width: 1170px)
    border-radius: 0 0 0 40px
  @media (max-width: 750px)
    border-radius: 0
.third-grid
  grid-area: thirdGrid
.fourth-grid
  grid-area: fourthGrid 
  background: url('../Rysunki/about/aboutTopSection640.jpeg')
  background-attachment: fixed
  background-size: cover
  background-position: center
  border-radius: 0 80px 80px 0
  @media (max-width: 1170px)
    border-radius: 0 40px 40px 0
  @media (max-width: 750px)
    border-radius: 0
.fifth-grid
  grid-area: fifthGrid
.sixth-grid
  grid-area: sixthGrid
  background: url('../Rysunki/about/aboutTopSection3-640.jpeg')
  background-attachment: fixed
  background-size: cover
  background-position: center
  border-radius: 80px 0 0 0
  @media (max-width: 1170px)
    border-radius: 40px 0 0 0
  @media (max-width: 750px)
    border-radius: 0
.about-content
  display: flex
  flex-direction: column
  padding: 0 30px
  margin-bottom: 50px
  min-height: 30vh
  @media (max-width: 640px)
    margin-bottom: 30px
  h1 
    color: $font-orange
    font-size: 40px
    margin-bottom: 15px
    letter-spacing: 2px
    font-family: roboto, sans-serif
    transform: translateY(20px)
    opacity: 0
    transition: transform 1s ease-in-out, opacity 0.5s linear, hover 0.3s linear
    &.active
      transform: translateY(0)
      opacity: 1
    @media (max-width: 1360px)
      font-size: 35px
    @media (max-width: 1170px)
      font-size: 30px
      margin-bottom: 12px
    @media (max-width: 880px)
      font-size: 26px
    @media (max-width: 750px)
      font-size: 35px
    @media (max-width: 640px)
      font-size: 30px
      margin-bottom: 12px
    @media (max-width: 460px)
      font-size: 26px
      margin-bottom: 10px
    @media (max-width: 360px)
      font-size: 20px
  h2 
    text-transform: uppercase
    font-size: 30px
    margin-bottom: 15px
    transform: translateY(20px)
    opacity: 0
    transition: transform 1s ease-in-out, opacity 0.5s linear, hover 0.3s linear
    &.active
      transform: translateY(0)
      opacity: 1
    @media (max-width: 1360px)
      font-size: 26px
    @media (max-width: 1170px)
      font-size: 24px
      margin-bottom: 12px
    @media (max-width: 880px)
      font-size: 20px
    @media (max-width: 750px)
      font-size: 26px
      margin-bottom: 15px
    @media (max-width: 640px)
      font-size: 24px
      margin-bottom: 12px
    @media (max-width: 460px)
      font-size: 20px
      margin-bottom: 10px
    @media (max-width: 360px)
      font-size: 16px

  p 
    font-size: 20px
    letter-spacing: 1px
    margin-bottom: 15px
    flex-basis: 70%
    transform: translateY(20px)
    opacity: 0
    transition: transform 1s ease-in-out, opacity 0.5s linear, hover 0.3s linear
    &.active
      transform: translateY(0)
      opacity: 1
    @media (max-width: 1360px)
      font-size: 16px
    @media (max-width: 1170px)
      font-size: 14px
      margin-bottom: 12px
    @media (max-width: 750px)
      font-size: 16px
      margin-bottom: 15px
    @media (max-width: 640px)
      font-size: 14px
      margin-bottom: 12px
    @media (max-width: 460px)
      font-size: 12px
      margin-bottom: 10px
  a
    align-self: center
    border: none
    color: #fff
    text-decoration: none
    padding: 15px 60px
    background-color: $font-orange
    font-size: 30px
    border-radius: 5px
    margin-top: 40px
    transform: translateY(20px)
    opacity: 0
    transition: transform 1s ease-in-out, opacity 0.5s linear, hover 0.3s linear
    &.active
      transform: translateY(0)
      opacity: 1
    &:hover 
      background-color: $font-orange-darker
      color: #ddd
    @media (max-width: 1360px)
      font-size: 28px
      padding: 14px 55px
    @media (max-width: 1170px)
      font-size: 26px
      padding: 12px 50px
    @media (max-width: 640px)
      font-size: 22px
      padding: 10px 40px
.about-image
  margin-bottom: 50px
  min-height: 400px
  @media (max-width: 640px)
    margin-bottom: 30px
      

    

        


