section.contact.bottom-section
  display: flex
  align-items: center
  padding: 50px 3vh
  margin: 0 10vh
  justify-content: space-around
  min-height: 80vh
  div
    height: 80%
    width: 100%
    #map
      width: 100%
      height: 100%
