section.contact.top-section 
  display: flex
  align-items: center
  padding: 50px 3vh
  margin: 0 30vh
  justify-content: space-around
  min-height: 80vh
  .form
    display: flex
    flex-direction: column
    flex-basis: 45%
    height: 100%
    form 
     display: flex
     flex-direction: column
     flex-basis: 100%
     margin-bottom: 20px
     input
       height: 10%
       border: 1px solid #ddd
       margin-bottom: 20px
       font-size: 20px
       padding: 0 10px
    #textarea 
      border: 1px solid #ddd
      font-size: 20px
      padding: 10px 10px
      resize: vertical
    button
      border: none
      color: #fff
      padding: 15px 60px
      background-color: $font-orange
      font-size: 30px
      align-self: center
  .content-wrapper
    background-color: green
    flex-basis: 45%
    height: 100%
    