.top-section 
  display: flex
  align-items: center
  justify-content: center
  min-height: 50vh
  padding: 50px 3vh
  background-color: white
  @media (max-width: 960px)
    padding: 40px 20px
  @media (max-width: 780px)
    padding: 30px 20px
  @media (max-width: 450px)
    padding: 0
.menu-top-section-wrapper 
  display: grid
  grid-template-rows: repeat(8, 1fr)
  grid-template-columns: repeat(8, 1fr)
  grid-gap: 20px
  height: 100%
  width: 90%
  @media (max-width: 880px)
    grid-template-rows: repeat(28, 1fr)
    grid-template-columns: repeat(5, 1fr)
    grid-gap: 10px
    width: 95%
  @media (max-width: 450px)
    grid-template-rows: repeat(22, 1fr)
    grid-template-columns: repeat(1, 1fr)
    grid-gap: 0
    width: 100%
  div 
    min-height: 200px
    @media (max-width: 450px)
      min-height: 300px
    @media (max-height: 900px)
      min-height: 200px
    @media (max-height: 1400px)
      min-height: 150px
.first-image-top 
  grid-area: span 2 / span 4
  background-color: black
  overflow: hidden
  transform: translateY(20px)
  opacity: 0
  transition: transform 1s ease-in-out, opacity 0.5s linear, hover 0.3s linear
  &.active
    transform: translateY(0)
    opacity: 1
  @media (max-width: 880px)
    grid-area: span 4 / span 3
  @media (max-width: 450px)
    grid-area: span 2 / span 1
  div
    background: url('../Rysunki/gallery/1gallery1280.jpg')
    width: 100%
    height: 100%
    background-position: center 
    background-size: cover
    transition: 0.5s ease-in-out
    &:hover
      transform: scale(1.1)
      opacity: 0.5
.second-image-top
  grid-area: span 3 / span 4
  background-color: black
  overflow: hidden
  transform: translateY(20px)
  opacity: 0
  transition: transform 1s ease-in-out, opacity 0.5s linear, hover 0.3s linear
  &.active
    transform: translateY(0)
    opacity: 1
  @media (max-width: 880px)
    grid-area: span 6 / span 2
  @media (max-width: 450px)
    grid-area: span 2 / span 1
  div
    background: url('../Rysunki/gallery/2gallery1280.jpg')
    width: 100%
    height: 100%
    background-position: center
    background-size: cover
    transition: 0.5s ease-in-out
    &:hover
      transform: scale(1.1)
      opacity: 0.5
.third-image-top
  grid-area: span 4 / span 2
  background-color: black
  overflow: hidden
  transform: translateY(20px)
  opacity: 0
  transition: transform 1s ease-in-out, opacity 0.5s linear, hover 0.3s linear
  &.active
    transform: translateY(0)
    opacity: 1
  @media (max-width: 880px)
    grid-area: span 6 / span 3
  @media (max-width: 450px)
    grid-area: span 2 / span 1
  div
    background: url('../Rysunki/gallery/3gallery1280.jpg')
    width: 100%
    height: 100%
    background-position: center
    background-size: cover
    transition: 0.5s ease-in-out
    &:hover
      transform: scale(1.1)
      opacity: 0.5
.fourth-image-top
  grid-area: span 1 / span 2
  background-color: black
  overflow: hidden
  transform: translateY(20px)
  opacity: 0
  transition: transform 1s ease-in-out, opacity 0.5s linear, hover 0.3s linear
  &.active
    transform: translateY(0)
    opacity: 1
  @media (max-width: 880px)
    grid-area: span 4 / span 2
  @media (max-width: 450px)
    grid-area: span 2 / span 1
  div
    background: url('../Rysunki/gallery/4gallery1280.jpg')
    width: 100%
    height: 100%
    background-position: center
    background-size: cover
    transition: 0.5s ease-in-out
    &:hover
      transform: scale(1.1)
      opacity: 0.5
.fifth-image-top
  grid-area: span 3 / span 2
  background-color: black
  overflow: hidden
  transform: translateY(20px)
  opacity: 0
  transition: transform 1s ease-in-out, opacity 0.5s linear, hover 0.3s linear
  &.active
    transform: translateY(0)
    opacity: 1
  @media (max-width: 880px)
    grid-area: span 6 / span 2
  @media (max-width: 450px)
    grid-area: span 2 / span 1
  div
    background: url('../Rysunki/gallery/5gallery1280.jpg')
    width: 100%
    height: 100%
    background-position: center
    background-size: cover
    transition: 0.5s ease-in-out
    &:hover
      transform: scale(1.1)
      opacity: 0.5
.sixth-image-top
  grid-area: span 1 / span 2
  background-color: black
  overflow: hidden
  transform: translateY(20px)
  opacity: 0
  transition: transform 1s ease-in-out, opacity 0.5s linear, hover 0.3s linear
  &.active
    transform: translateY(0)
    opacity: 1
  @media (max-width: 880px)
    grid-area: span 4 / span 3
  @media (max-width: 450px)
    grid-area: span 2 / span 1
  div
    background: url('../Rysunki/gallery/6gallery1280.jpg')
    width: 100%
    height: 100%
    background-position: center
    background-size: cover
    transition: 0.5s ease-in-out
    &:hover
      transform: scale(1.1)
      opacity: 0.5
.seventh-image-top
  grid-area: span 2 / span 2
  background-color: black
  overflow: hidden
  transform: translateY(20px)
  opacity: 0
  transition: transform 1s ease-in-out, opacity 0.5s linear, hover 0.3s linear
  &.active
    transform: translateY(0)
    opacity: 1
  @media (max-width: 880px)
    grid-area: span 6 / span 3
  @media (max-width: 450px)
    grid-area: span 2 / span 1
  div
    background: url('../Rysunki/gallery/7gallery1280.jpg')
    background-position: center
    width: 100%
    height: 100%
    background-size: cover
    transition: 0.5s ease-in-out
    &:hover
      transform: scale(1.1)
      opacity: 0.5
.eight-image-top
  grid-area: span 2 / span 2
  background-color: black
  overflow: hidden
  transform: translateY(20px)
  opacity: 0
  transition: transform 1s ease-in-out, opacity 0.5s linear, hover 0.3s linear
  &.active
    transform: translateY(0)
    opacity: 1
  @media (max-width: 880px)
    grid-area: span 4 / span 2
  @media (max-width: 450px)
    grid-area: span 2 / span 1
  div
    background: url('../Rysunki/gallery/8gallery1280.jpg')
    width: 100%
    height: 100%
    background-position: center
    background-size: cover
    transition: 0.5s ease-in-out
    &:hover
      transform: scale(1.1)
      opacity: 0.5
.nineth-image-top
  grid-area: span 3 / span 2
  background-color: black
  overflow: hidden
  transform: translateY(20px)
  opacity: 0
  transition: transform 1s ease-in-out, opacity 0.5s linear, hover 0.3s linear
  &.active
    transform: translateY(0)
    opacity: 1
  @media (max-width: 880px)
    grid-area: span 4 / span 2
  @media (max-width: 450px)
    grid-area: span 2 / span 1
  div
    background: url('../Rysunki/gallery/9gallery1280.jpg')
    width: 100%
    height: 100%
    background-position: center
    background-size: cover
    transition: 0.5s ease-in-out
    &:hover
      transform: scale(1.1)
      opacity: 0.5
.tenth-image-top
  grid-area: span 2 / span 2
  background-color: black
  overflow: hidden
  transform: translateY(20px)
  opacity: 0
  transition: transform 1s ease-in-out, opacity 0.5s linear, hover 0.3s linear
  &.active
    transform: translateY(0)
    opacity: 1
  @media (max-width: 880px)
    grid-area: span 4 / span 3
  @media (max-width: 450px)
    grid-area: span 2 / span 1
  div
    background: url('../Rysunki/gallery/10gallery1280.jpg')
    width: 100%
    height: 100%
    background-position: center
    background-size: cover
    transition: 0.5s ease-in-out
    &:hover
      transform: scale(1.1)
      opacity: 0.5
.eleventh-image-top
  grid-area: span 2 / span 4
  background-color: black
  overflow: hidden
  transform: translateY(20px)
  opacity: 0
  transition: transform 1s ease-in-out, opacity 0.5s linear, hover 0.3s linear
  &.active
    transform: translateY(0)
    opacity: 1
  @media (max-width: 880px)
    grid-area: span 4 / span 5
  @media (max-width: 450px)
    grid-area: span 2 / span 1
  div
    background: url('../Rysunki/gallery/11gallery1280.jpg')
    width: 100%
    height: 100%
    background-position: center
    background-size: cover
    transition: 0.5s ease-in-out
    &:hover
      transform: scale(1.1)
      opacity: 0.5