header
  display: flex
  background-color: #fff
  align-items: center
  justify-content: space-around
  padding: 0 5vh
  height: 150px
  width: 100%
  @media (max-width: 1360px)
    height: 130px
  @media (max-width: 1170px)
    height: 100px
  @media (max-width: 900px)
    position: fixed
    flex-direction: column
    align-items: flex-end
    justify-content: flex-start
    height: 0
    z-index: 1
    padding: 0
  .logoHeader
    display: flex
    background-repeat: no-repeat
    background-size: auto 100%
    background-position: center
    height: 80%
    background-color: #fff
    align-items: center
    justify-content: center
    @media (max-width: 1020px)
        display: none
    img 
      height: 100%
    h1 
      display: flex
      flex-direction: column
      font-family: 'Roboto', sans-serif
      color: #333
      margin-left: 30px
      align-items: center
      letter-spacing: 10px
      font-size: 32px
      @media (max-width: 1360px)
        font-size: 28px
      @media (max-width: 1170px)
        font-size: 20px
      &:after 
        content: "Restauracja"
        font-size: 20px
        font-family: 'Indie Flower', cursive
        @media (max-width: 1360px)
          font-size: 18px
        @media (max-width: 1170px)
          font-size: 14px
  nav
    display: flex
    align-items: center
    @media (max-width: 900px)
      clip-path: circle(0px at top right)
      transition: clip-path ease-in-out 400ms
      order: 1
    ul 
      display: flex
      list-style: none
      @media (max-width: 900px)
        flex-direction: column
        background-color: #fff
        width: 300px
        border: 2px solid black
      li a 
        display: block
        text-decoration: none
        color: #333
        padding: 15px 20px
        font-size: 25px
        border-right: 2px solid $font-orange
        transition: 0.2s linear
        &:hover 
          color: $font-orange
        @media (max-width: 1360px)
          font-size: 22px
        @media (max-width: 1230px)
          font-size: 20px 
        @media (max-width: 1170px)
          font-size: 14px 
        @media (max-width: 1020px)
          font-size: 20px 
        @media (max-width: 900px)
          margin: 0 auto
          width: 90%
          font-size: 20px
          color: black
          text-transform: uppercase
          border: none
          border-bottom: 2px solid $font-orange
      li:nth-of-type(6) a 
        border-right: none
        @media (max-width: 900px)
          border-bottom: none
    &.open 
      clip-path: circle(150% at top right)

  .hamburgerWrapper
    min-height: 85px
    width: 85px
    display: none
    cursor: pointer
    margin: 15px 15px 0 0
    border-radius: 50%
    @media (max-width: 900px)
      background-color: rgba(0,0,0,0.8)
      display: flex
      justify-content: center 
      align-items: center
    .hamburgerMenu
      width: 60px
      height: 45px
      position: relative
      transform: rotate(0deg)
      transition: 0.5s ease-in-out
      @media (max-width: 900px)
        background-color: transparent
        display: block
      span 
        display: block
        position: absolute
        height: 4px
        width: 50%
        background: white
        opacity: 1
        transform: rotate(0deg)
        transition: 0.25s ease-in-out
        &:nth-child(even) 
          left: 50%
        &:nth-child(odd) 
          left: 0px
        &:nth-child(1),
        &:nth-child(2) 
          top: 2px
        &:nth-child(3),
        &:nth-child(4) 
          top: 20px
        &:nth-child(5),
        &:nth-child(6) 
          top: 38px
      .openHamburger
        &:nth-child(1),
        &:nth-child(6) 
          transform: rotate(45deg)
        &:nth-child(2),
        &:nth-child(5) 
          transform: rotate(-45deg)
        &:nth-child(1) 
          left: 5px
          top: 9px
        &:nth-child(2) 
          left: calc(50% - 5px)
          top: 9px
        &:nth-child(3) 
          left: -50%
          opacity: 0
        &:nth-child(4) 
          left: 100%
          opacity: 0
        &:nth-child(5) 
          left: 5px
          top: 31px
        &:nth-child(6) 
          left: calc(50% - 5px)
          top: 31px





