.first-image 
  flex-basis: 100vh
  background: url('../Rysunki/head/HeadFirst1920.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: left center
  position: relative
  div 
    position: absolute
    top: 35%
    left: 50%
    transform: translate(0, -50%)
    color: #fff
    padding: 20px 30px
  h1 
    text-transform: uppercase
    font-family: 'Roboto', sans-serif
    letter-spacing: 5px
    font-size: 50px
    margin-bottom: 10px
  p 
    opacity: 0.6
    font-size: 18px
    margin-bottom: 40px
  a 
    text-decoration: none
    text-transform: uppercase
    background-color: transparent
    color: #fff
    font-size: 18px
    padding: 15px 40px
    border: 3px solid #fff
    border-radius: 5px
  