section.menu.top-section 
  display: flex
  flex-direction: column
  align-items: center
  min-height: 80vh
  padding: 50px 3vh
.menu-list
  flex-basis: 10vh
  width: 60%
  h1 
    text-transform: uppercase
    font-size: 50px
    letter-spacing: 4px
    margin-bottom: 20px
    text-align: center
    border-bottom: 2px solid $font-orange
    box-shadow: 0 4px 0 white, 0 6px 0 $font-orange
  div 
    display: flex
    list-style: none
    justify-content: space-between
    margin-bottom: 40px 
    button
      border: 1px solid $font-orange
      border-radius: 6px
      background-color: white
      color: #333
      padding: 15px 20px
      font-size: 25px
      cursor: pointer
.menu-top-section-wrapper
  display: flex
  flex-direction: column
  justify-content: flex-start
  width: 60%
  flex-basis: 50vh
  article
    display: flex
    flex-direction: column
    flex-basis: 100%
    justify-content: top
    align-items: flex-start
    margin-top: 20px
  h1 
    text-transform: uppercase
    font-size: 40px
    letter-spacing: 4px
    margin-bottom: 10px
  div
    margin: 20px 0
    flex-basis: 20%
    max-height: 500px
    width: 100%
    position: relative
    h2 
      color: $font-orange
      font-weight: 100
      font-size: 22px
      letter-spacing: 3px
      text-transform: uppercase
      font-family: roboto, san-serif
.menu-products 
  width: 100%
  td 
    vertical-align: bottom
    &:first-child 
      text-align: left
      font-size: 16px
      letter-spacing: 1px
      font-style: italic
      overflow: hidden
      position: relative
      &:after 
        content: ''
        position: absolute
        bottom: 0
        margin-left: 15px
        width: 1500px
        height: 0px
        border-bottom: 2px dotted #666
    &:last-child 
      font-size: 22px
      font-weight: 700
      text-align: right
      width: 80px







        